table.adminTable {
	table-layout: fixed;
}

.adminTable .left {
	width: 2.5em !important;
}

.accounts-dialog {
	position: fixed !important;
	top: 70px !important;
	right: 20px !important;
	left: inherit !important;
}